.section-location{
  .wrap-map{
    position: relative;
    width: 100%;
    padding-top: 35.75%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    background: #595959;
    iframe{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
  @include respond-to($sm){
    .container{
      padding: 0;
    }
    .wrap-map{
      padding-top: 55%;
      border-radius: 0;
    }
  }
}