.section-faq {
  .accordion {
    background-color: $lightskyblue;
    padding: 80px 13% 40px;
    border-radius: 10px;
    overflow: hidden;
  }

  .panel__title {
    color: $dark;
  }

  .block-btn-open {
    position: relative;
    margin-top: 35px;
    padding-top: 40px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      width: 300vw;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 1;
      background-image: linear-gradient(#F9FBFF 50%, #D6E3FF 50%);
    }
  }

  @include respond-to($sm) {
    .container {
      padding: 0;
    }
    .accordion {
      padding: 30px 20px 30px;
      border-radius: 0;

      .panel__heading {
        padding: 13px 32px 13px 0;
        cursor: pointer;
      }

      .open-panel {
        width: 30px;
        height: 30px;
        top: 17%;

        &:before {
          width: 12px;
          height: 12px;
        }
      }
    }
    .block-btn-open {
      padding-top: 25px;
    }
    .panel-collapse {
      padding: 0;
    }
    .panel-collapse__body p {
      font-size: 12px;
    }
  }
}