.section-faq {

  .show-questions {
    position: relative;
    margin-top: 35px;
    padding-top: 40px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      width: 300vw;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 1;
      background-image: linear-gradient(#F9FBFF 50%, #D6E3FF 50%);
    }
  }

  @include respond-to($md) {
    .show-questions{
      padding-top: 30px;
    }
  }
  @include respond-to($sm) {
    .container {
      padding: 0;
    }

    .show-questions {
      padding-top: 25px;
      margin-top: 28px;
    }
  }
}