.section-clearing {
  .slider-clearing {

    &__slide {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 766px;
      border-radius: 10px;
      overflow: hidden;
      padding-top: 60px;
      padding-bottom: 53px;
      &:before{
        position: absolute;
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        background-color: rgba(0,0,0, .2);
      }
    }


    &__label{
      position: absolute;
      background-color: $white;
      border-radius: 10px;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.002em;
      padding: 8px 4% 8px 25px;
      z-index: 1;
      min-height: 42px;
      display: flex;
      align-items: center;
      &:before{
        position: absolute;
        content: '';
        display: block;
        width: 58px;
        height: 65px;
        background-image: url(../assets/img/svg/drops.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
      }
    }
    &__pagination{
      text-align: center;
      bottom: auto;
      top: 8%;
      position: absolute;
      z-index: 2;
      .swiper-pagination-bullet{
        background-color: transparent;
        border: 1px solid $white;
        line-height: .9;
        letter-spacing: 0.2px;
        padding: .82em .65em;
        font-size: 16px;
        color: $white;
        border-radius: 10px;
        min-width: 145px;
        font-family: $main-font;
        height: auto;
        opacity: 1;
        margin: 0 2px;
        &-active{
          background-color: $white;
          color: $dark;
          font-weight: 700;
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev{
      display: none;
    }
  }
}