.section-banner {
  padding-top: 280px;

  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 25% center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #67D8F8;
    min-height: 540px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 12.5%;

    &__slogan {
      width: 60%;
      padding-left: 40px;
      font-size: 54px;
      line-height: 1.07;
      display: flex;
      align-items: center;
      padding-top: 10%;
      letter-spacing: -0.002em;

      span {
        color: $white;
        font-weight: 700;
      }
    }
  }

  @include respond-to($xl) {
    .banner {
      &__slogan {
        width: 70%;
        font-size: 45px;
      }
    }
  }
  @include respond-to($lg) {
    padding-top: 160px;
    .banner {
      min-height: 450px;
      padding-bottom: 14.5%;

      &__slogan {
        font-size: 40px;
      }
    }
  }

  @include respond-to($sm) {
    background-position: right 30% top;
    padding-top: 114px;
    .container {
      padding: 0;
    }
    .banner {
      min-height: 320px;
      padding: 58px 20px;
      border-radius: 0;

      &__slogan {
        font-size: 32px;
        line-height: 1;
        padding: 0;
      }
    }
  }
}







