.section-standards {
  .standards__list {
    width: 95%;
    max-width: 1090px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .standards-card {
    width: 25%;
    padding: 28px 10px 0;
    text-align: center;

    &__bg-icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      min-height: 126px;
      margin-bottom: 37px;
    }

    &__title {
      color: $darkslateblue;
      margin-bottom: 20px;
    }
  }

  @include respond-to($xl) {
    .standards-card__bg-icon {
      min-height: 110px;
    }
  }
  @include respond-to($lg) {
    .standards__list {
      flex-wrap: wrap;

    }
    .standards-card {
      width: 50%;
      &__title{
        margin-bottom: 15px;
      }
    }
  }
  @include respond-to($sm) {
    .standards__list {
      justify-content: center;
    }
    .standards-card {
      width: 100%;
      max-width: 300px;
      &__bg-icon {
        min-height: 72px;
        margin-bottom: 15px;
      }

      .title_middle {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .standards__text {
        font-size: 12px;
      }
    }
  }
  @include respond-to($xs) {

    .standards-card {
      max-width: 253px;
      padding-top: 22px;
    }
  }
}