.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  border: 1px solid;
  font-size: 16px;
  color: $white;
  border-radius: 10px;
  font-family: $main-font;
  font-weight: 700;
  letter-spacing: -0.002em;

  &_main {
    background-color: $darkslateblue;
    border-color: $darkslateblue;
    line-height: .9;

  }

  &_medium {
    font-size: 14px;
    padding: .83em;
  }

  &_big {
    padding: 1.2em 1.6em;
  }

  &_glass {
    background-color: transparent;
    border-color: $white;
  }

  &:hover,
  &:focus {
    background-color: $lightskyblue;
    border-color: $lightskyblue;
    color: $dark;
  }


}

.to-top,
.load-more {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  margin: 0 auto;
  width: 168px;

  .icon {
    position: relative;
    background: $darkslateblue;
    display: inline-block;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 20px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../assets/img/svg/right-arrow.svg);
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 1;
    }
    .text{
      transition: .35s;
    }
  }
}

.to-top {
  position: fixed;
  bottom: 68px;
  right: 25px;
  z-index: 100;
  transition: opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;

  .icon {
    margin: 0;
  }

  .icon:before {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}


.btn-close {
  position: absolute;
  border: none;
  background-color: $darkslateblue;
  background-image: url(../assets/img/svg/close.svg);
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

@include respond-to($lg) {
  .btn {
    &_medium {
      font-size: 12px;
      padding: .75em;
    }
  }

  .to-top,
  .load-more {
    .icon {
      width: 47px;
      height: 47px;
    }
  }
  .btn-close {
    width: 35px;
    height: 35px;
  }
}

@include respond-to($md) {
  .btn-close {
    width: 30px;
    height: 30px;
  }
  .to-top{
    right: 10px;
  }
}

@include respond-to($sm) {
  .load-more {
    font-size: 12px;

    .icon {
      width: 30px;
      height: 30px;
      margin-right: 24px;

      &:before {
        width: 12px;
        height: 12px;
      }
    }
  }
}
