.calculator {
  background-color: $lightskyblue;
  padding: 72px 45px 60px;
  border-radius: 10px;
  display: flex;

  select {
    display: none;
  }

  &__form {
    width: 100%;
  }

  &__form-footer {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }

  .btn_submit {
    text-align: center;
    padding-left: 72px;
    padding-right: 72px;
  }

  &__form-group {
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 25px;
    width: 100%;
    max-width: 216px;
    flex-grow: 1;
  }

  .label {
    margin-bottom: 13px;
    line-height: 1.5;
  }

  .input {
    font-family: inherit;
    font-size: 16px;
    padding: 18px;
    line-height: 1;
    border: 1px solid #dce2e8;
    border-radius: 10px;
  }

  ::placeholder {
    color: #8f8f8f;
    font-weight: 400;
  }

  @include respond-to($sm) {
    .calculator__form-group {
      max-width: 100%;
    }
    .calculator__form-group {
      padding-bottom: 15px;
    }
    .label {
      margin-bottom: 5px;
    }
  }
}