.form {
  font-size: 16px;
  text-align: center;
  color: $dark;
  .input {
    display: block;
    width: 100%;
    background: #ffffff;
    border: 1px solid #dce2e8;
    border-radius: 8px;
    line-height: 1;
    padding: 17px 17px 18px;
    text-align: center;
    font-weight: 400;
    &.in-valid{
      border: 1px solid #ff5656;
      color: #ff5656;
    }
  }

  ::placeholder {
    color: #8f8f8f;
    font-weight: 400;
  }

  &__group {
    margin-bottom: 30px;
  }
  .btn_submit {
    text-align: center;
    padding: 20px 72px;

    &:hover,
    &:focus{
      border-color: $darkslateblue;
      color: $darkslateblue;
    }
  }

  .invalid{
    border: 1px solid #ff5656;
    color: #ff5656;
  }
  @include respond-to($xs){
    .input{
      padding-top: 11px;
      padding-bottom: 11px;
    }
    .btn_submit{
      padding-top: 13px;
      padding-bottom: 14px;
    }
  }
}
