.modal {
  max-width: 518px;
  width: 100%;
  min-height: 380px;
  background-color: $lightskyblue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s linear;
  overflow: hidden;
  border-radius: 10px;
  letter-spacing: -0.002em;
  color: $dark;

  &.modal_active {
    overflow: visible;
    overflow-y: auto;
    opacity: 1;
    z-index: 1100;
  }

  &__header {
    position: relative;
    background-color: $white;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.02em;
    padding: 32px;
  }

  .space {
    color: $darkslateblue;
  }

  .information-payment {
    text-align: left;

    &__item {
      margin-bottom: 8px;
    }
  }

  &__body {
    width: 100%;
    padding: 48px 32px;
    text-align: center;

    p {
      margin-bottom: 25px;
      line-height: 1.5;
    }
  }

  &__description {
    text-align: center;
    margin-bottom: 20px;
  }

  &__footer {
    padding-top: 45px;
    text-align: center;
    font-size: 14px;
  }

  .information {
    margin-bottom: 20px;
  }

  .link {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .btn-close {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 10;
  }


  .form .btn_submit {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .thank-you {
    display: none;

    color: #14213D;
    font-size: 16px;
    line-height: 1.89;
    justify-content: center;
    align-items: center;
    min-height: 210px;
    width: 100%;

    &__text {
      text-align: center;
    }
  }

  &_details-servisec {
    width: 80%;
    max-width: 1060px;

    .modal__header {
      font-size: 24px;
      line-height: 1;
    }

    .modal__body {
      text-align: left;
      background-image: url(../assets/img/bg-modal.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 47px 26px;
      font-weight: 700;
    }
  }

  @include respond-to($lg) {
    &_details-servisec {
      .modal__header {
        font-size: 18px;
      }
    }
  }
  @include respond-to($md) {
    .form {
      padding-top: 10px;
    }
    &__header {
      padding: 30px 17px 24px 20px;
    }
    &__body {
      padding: 30px;

      p {
        font-size: 14px;
        margin-bottom: 12px;
      }
    }

    &_details-servisec {
      .modal__header {
        padding: 22px 50px 30px 20px;
      }

      .modal__body {
        padding: 40px 20px 45px;
      }
    }
  }
  @include respond-to($sm) {
    max-width: 360px;
    width: 100%;
    &__footer {
      padding-top: 35px;
    }
  }
}

.thanks-page {
  background-color: $lightskyblue;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &.show {
    .thanks-page__content {
      transition: .35s;
      animation: backInUp .7s ease-out forwards .65s;
    }

    .circle {
      stroke-dasharray: 100;
      stroke-dashoffset: -100;
      animation: draw .75s  forwards .2s;
    }

    .tick {
      stroke-dasharray: 50;
      stroke-dashoffset: -50;
      animation: draw .75 forwards .8s;
    }

    .star {
      animation: stretch .3s ease-out .2s infinite alternate;
      transition: .35s;
      &:nth-child(2) {
        animation-delay: .4s;
      }

      &:nth-child(3) {
        animation-delay: .5s;

      }

      &:nth-child(4) {
        animation-delay: .6s;
      }

      &:nth-child(5) {
        animation-delay: .7s;
      }

      &:nth-child(6) {
        animation-delay: .8s;
      }
      &:nth-child(7) {
        animation-delay: .9s;
      }
    }
  }

  &__content {
    font-weight: bold;
    font-size: 14px;
    transform: translateY(100%);
    opacity: 0;
    transition: .35s;
  }

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;

    .star {
      position: absolute;
      background-image: url(../assets/img/svg/star.svg);
      display: block;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 1;
      top: 5%;
      right: 31%;
      transform: scale(0);
      &:nth-child(2) {
        width: 26px;
        height: 26px;
        top: 90%;
        right: 30px;
      }

      &:nth-child(3) {
        width: 18px;
        height: 18px;
        top: 75%;
        right:23%;
      }

      &:nth-child(4) {
        width: 24px;
        height: 24px;
        top: 25%;
        left: 14%;
      }

      &:nth-child(5) {
        width: 54px;
        height: 54px;
        top: 35%;
        right: 11%;
      }
      &:nth-child(6) {
        width: 16px;
        height: 16px;
        top: 42%;
        left: 27%;
      }
      &:nth-child(7) {
        width: 34px;
        height: 34px;
        top: 85%;
        left: 20%
      }
    }
  }

  .wrap-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 40px;
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0
    }
  }
  @keyframes stretch {
    0% {
      transform: scale(.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes backInUp {
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}