$white: #ffffff;
$darkslateblue: #384996;
$lightskyblue: #eaf1ff;
$gray: #8f8f8f;
$dark: #282828;

$main-font: 'Montserrat', sans-serif;

// Screen Variables

$xs: '(max-width: 360px)';
$sm: '(max-width: 576px)';
$md: '(max-width: 768px)';
$lg: '(max-width: 960px)';
$xl: '(max-width: 1200px)';
$xxl: '(max-width: 1440px)';

