.footer {
  color: $white;
  font-size: 18px;
  line-height: 1.33;

  &__logo {
    max-width: 207px;
    display: block;
  }

  &__bg {
    background-image: linear-gradient(#568bf3, $darkslateblue);
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 47px;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;

    &_phone {
      text-align: right;
      width: 30%;
      padding-right: 30px;
    }

    &_mail_ {
      font-weight: 600;
      width: 70%;
    }

    &__link {
      display: inline-block;
      text-transform: lowercase;
    }
  }

  .wrap-btn_mob {
    display: none;
  }

  @include respond-to($lg) {
    font-size: 12px;
    &__bg {
      padding-left: 34px;
    }
    &__logo {
      max-width: 147px;
    }
  }

  @include respond-to($sm) {
    font-size: 10px;
    &__bg {
      padding: 15px 20px;
      flex-wrap: wrap;
    }
    .contacts {
      width: 50%;
      line-height: 2;
      text-align: center;
      padding: 0;

      &_phone {
        order: 1;
        text-align: left;
        padding-left: 30px;
      }
    }
    .wrap-logo {
      width: 100%;
      margin-bottom: 20px;
    }
    &__logo {
      margin: 0 auto;
    }
    .container {
      padding: 0;
    }
    .wrap-btn_mob {
      display: block;
      width: 100%;
      order: 1;
      text-align: center;
      padding-top: 28px;

      .btn {
        background-color: $white;
        color: $darkslateblue;
        font-size: 12px;
        padding: 11px 18px;
      }
    }
  }
}