.footer {
  color: $white;
  font-size: 18px;
  line-height: 1.33;

  &__logo {
    max-width: 207px;
    display: block;
  }

  &__bg {
    background-image: linear-gradient(180deg, #79CDE1 -34.78%, #272884 105.16%);
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 47px;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    width: 30%;
    &_phone {
      text-align: right;
      padding-right: 30px;
    }

    &_mail {
      font-weight: 500;
    }

    &__link {
      display: inline-block;
      text-transform: lowercase;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .wrap-btn_mob {
    display: none;
  }

  @include respond-to($lg) {
    font-size: 12px;
    &__bg {
      padding-left: 34px;
    }
    &__logo {
      max-width: 147px;
    }
  }
@include respond-to($md){
  .contacts{
    width: 50%;
  }
  .footer__logo{
    max-width: 130px;
  }
}
  @include respond-to($sm) {
    &__bg {
      padding: 15px 10px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .contacts {
      line-height: 2;
      text-align: center;
      padding: 0;
      width: auto;
      flex-grow: 0;
      margin-bottom: 10px;

      &_phone {
        order: 1;
      }
    }
    .wrap-logo {
      width: 100%;
      margin-bottom: 20px;
    }
    &__logo {
      margin: 0 auto;
    }
    .container {
      padding: 0;
    }
    .wrap-btn_mob {
      display: block;
      width: 100%;
      order: 1;
      text-align: center;
      padding-top: 18px;

      .btn {
        background-color: $white;
        color: $darkslateblue;
        font-size: 12px;
        padding: 11px 18px;
      }
    }
  }

  @include respond-to($xs) {
    .footer__logo {
      max-width: 111px;
    }
    .contacts {
      letter-spacing: -0.002em;
    }
  }
}