.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 550;
  background-color: $white;
  line-height: 1.28;
  color: $darkslateblue;
  padding-bottom: 15px;
  transition: .35s linear;

  &.header_active {
    transform: translateY(-100%);
  }

  &__top-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 24px;
    padding-bottom: 30px;
  }

  .btn_main {
    margin-bottom: 24px;
    line-height: .8;
  }

  &__logo {
    width: 230px;
    height: auto;
    display: block;
    margin-right: auto;
  }

  &__phone-block {
    margin-right: 46px;
    margin-bottom: 15px;
    color: $darkslateblue;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.002em;
    line-height: 1.75;
    text-align: right;
  }

  .phone-link {
    display: block;
    margin-bottom: 6px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
  }

  .btn-burger {
    border: none;
    background-color: transparent;
    display: none;
    width: 32px;
    height: 32px;
    padding: 3px;
    margin-left: 23px;
    margin-bottom: 20px;

    .line {
      display: block;
      width: 24px;
      height: 2px;
      margin-bottom: 4px;
      background-color: $darkslateblue;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-close {
    display: none;
    right: 20px;
    top: 25px;
  }

  .phone_mob {
    display: none;
  }

  @include respond-to($lg) {
    &__logo {
          width: 168px;
        }
    .btn-close,
    .btn-burger {
      display: block;
    }
   &__phone-block {
      margin-right: 0;
      font-size: 12px;
     margin-bottom: 12px;
    }
    &__top-content {
      padding-bottom: 0;
      .btn {
        display: none;
      }
    }
    .header__nav {
      padding: 80px 20px;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      flex-direction: column;
      background-color: $white;
      overflow-y: auto;
      text-align: center;
      transition: transform .5s;
      transform: translateX(100%);
      z-index: 999;
      max-width: 380px;
      width: 100%;
      min-height: 100vh;
      &.open {
        transform: translateX(0);
      }

      .menu {
        flex-direction: column;
        justify-content: flex-start;
        font-size: 18px;
        margin-bottom: 37px;
        &__item {
          margin-bottom: 15px;
          width: 100%;
          border-radius: 10px;
          flex: 0;
          line-height: .9;
          &:before{
            display: none;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .phone_mob {
        display: block;
        font-size: 18px;
        font-weight: 700;
        .btn_main{
          margin-top: 37px;
        }
      }
    }
  }

  @include respond-to($sm) {
    .header__top-content {
      padding-top: 9px;
      padding-bottom: 15px;
    }
    .header__logo {
      max-width: 120px;
    }
    .header__phone-block {
      line-height: 1;
      margin-bottom: 9px;
    }
    .btn-burger {
      margin-left: 18px;
      margin-bottom: 8px;
    }
  }
}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark;
  opacity: 0.5;
  z-index: 500;
}